<nav class="navbar navbar-expand-md navbar-dark bg-danger fixed-top">
  <a class="navbar-brand" href="#">Next 5</a>
</nav>

<main role="main" class="container-fluid">
  <div class="row m-1">
    <div class="text-center thumbnail">
      <img src="../assets/img/racing.jpeg" class="img-fluid rounded" alt="...">
      <div class="caption rounded-bottom">
        <h4>BET ON THE NEXT 5</h4>
      </div>
    </div>
  </div>


  <div class="row m-1">
    <div class="races card col-sm-12 col-lg-12 col-md-12" style="padding: 0;">
      <div class="bg-dark text-white card-header">
        <div>NEXT 5 - RACES</div>
      </div>
      <div class="card-body">
        <ul class="list-group ">
          <li *ngFor="let race of races" class="list-group-item">
            <a href="#">
              <div class="icon-{{ race.details.race_type | lowercase }} list-group-item-icon"></div>
              <div class="list-group-item-description">{{ race.description }}</div>
              <div class="list-group-item-info pull-right">
                <span class="list-group-item-timeleft"><app-count-down-time
                  [text]="text" units="Hours|Minutes|Seconds" end="{{ race.suspend }}"></app-count-down-time>
</span>&nbsp;<span><i
                  class="fa fa-angle-right fa-bold" aria-hidden="true"></i></span></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


</main>
